# Grails 4
Thumbs.db
.DS_Store
.gradle
build/
out/
.idea
*.iml
*.ipr
*.iws
.project
.settings
.classpath

# Log files
*.log

# Libraries and others
*.zip

# Target
target/
target-eclipse/
target/*

docs/
plugin.xml
pom.xml
.settings

# Unused grails files
test/reports
